body {
    background: #FFFFFF;
}

.jumbotron{
    margin-top: 60px;
}

.arquivos h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.arquivos{
    background-color: #EEE;
    padding: 10px;
}

#divAlert{
    display: none;
}

#carregamento{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barraDiv{
    padding: 20px;
    background-color: #FFF;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

#compartilhar{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formCompart{
    width: 700px;
    height: 500px;
    padding: 15px;
    background-color: #FFF;
    font-size: 20px;
    display: none;
}

#formCompart h3 {
    text-transform: uppercase;
    margin:0;
}

#formCompart .cabecalho{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#formCompart input[type="text"]{
    font-weight: bold;
}

.cabecalho button{
    height: 20px;
}

#formCompart .form-group label {
    font-size: 15px;
    font-weight: normal;
}

#formCompart .listaArquivos{
    width: 100%;
    height: 100px;
    overflow: auto;
    border:#CCC solid 1px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

#formCompart span {
    font-size: 14px;
    font-weight: normal;
}

#solicitacao{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formSolicitacao{
    width: 500px;
    padding: 15px;
    background-color: #FFF;
    font-size: 20px;
    display: none;
}

#formSolicitacao h3 {
    text-transform: uppercase;
    margin:0;
}

#formSolicitacao p {
    font-size: 16px;
    padding: 5px; 
}

table {
    background-color: #FFF;
}

table tr th {
    width: 16.66%;
}

table tr td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.formEnviar{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 10px;
}

@media(max-width: 768px){
    table tr th{
        width: 33.33%;
    }
    .formEnviar input{
        width: 100%;
        margin-top: 5px;
    }

    .ocultar{
        display: none;
    }

    #tableFilesData tr td:nth-child(2){
        display: none;
    }
    #tableFilesData tr td:nth-child(3){
        display: none;
    }
}