<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="criptografa" method="post">
        <label for="">Selecione um arquivo: </label>
        <input type="file" name="txtfiletoread" id="txtfiletoread">
        <input type="submit" value="Upload">
    </form>
    <div id="filecontents"></div>
    <div id="filecontentscifra"></div>
    <div id="filecontentsoriginal"></div>
</body>
<script type="text/javascript" src="./crypto-js/crypto-js.js"></script>
<script>
    window.onload = function () {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var fileSelected = document.getElementById('txtfiletoread');
            fileSelected.addEventListener('change', function (e) {
                var fileTobeRead = fileSelected.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    var fileContents = document.getElementById('filecontents');
                    var fileContentsCifra = document.getElementById('filecontentscifra');
                    var fileContentsOriginal = document.getElementById('filecontentsoriginal');
                    let cifra = CryptoJS.AES.encrypt(fileReader.result, 'secret key 123')
                    let descifra = CryptoJS.AES.decrypt(cifra.toString(), 'secret key 123')
                    fileContents.innerText = 'Texto original: ' + fileReader.result;
                    fileContentsCifra.innerText = 'Criptografado: ' + cifra.toString();
                    fileContentsOriginal.innerText = 'Descriptografado: ' + descifra.toString(CryptoJS.enc.Utf8)
                }
                fileReader.readAsDataURL(fileTobeRead);
            }, false);
        }
        else {
            alert("Arquivo(s) não suportado(s)");
        }
    }
</script>

</html>