<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <style>
	   .box{
          width:300px;
          height:180px;
	  top: 200px;
          position:relative;
          margin: auto auto auto auto;
          background-color: invisible
	}	
	
	body{
	  background-color: #e6e6e6
	}

    </style>

    <title>Cadastro</title>
  </head>
  <body>
   	<div class = box>
    		<h1>Cadastro</h1>
			<fieldset>

				<div class="login-user">
					<label for="userLogin">Usuario</label>
					<input class="userLogin" id="userLogin" aria-label="Usuario" placeholder="Usuario">
				</div>
				<div class="password">
					<label for="userPassword">Senha</label>
					<input class="userPassword" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
				</div>
				<div class="password">
					<label for="userConfirmPassword">Confirmar Senha</label>
					<input class="userConfirmPassword" id="userConfirmPassword" type="password" aria-label="Confirmar Senha" placeholder="Confirmar Senha">
				</div>
				<div class="email">
					<label for="userEmail">E-mail</label>
					<input class="userEmail" id="userEmail" aria-label="E-mail" placeholder="E-mail">
				</div>

				<input type="submit" value="Cadastrar" class="btn">
				<p class="Cadastrar"></p>

			</fieldset>
	</div>
  </body>
</html>